@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #111111;
  --color-secondary: #FFFFFF;
  --color-dark-text: #111111;
  --color-light-dark-text: #3f3f3f;
  --color-light-text: #FFFFFF;
}

body{
  background-color: var(--color-secondary);
  font-family: 'Poppins', sans-serif;
  
}



/* Add to your global CSS file */
.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Optional: Add these styles for extra smoothness */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.7s ease-out forwards;
}

/* For better performance */
.transform-gpu {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}