@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";


@theme {
  --color-primary: #111111;
  --color-secondary: #FFFFFF;
  --color-dark-text: #111111;
  --color-light-dark-text: #3f3f3f;
  --color-light-text: #FFFFFF;
}

body{
  background-color: var(--color-secondary);
  font-family: 'Poppins', sans-serif;
  
}
